//- Navbar section, to be included at the top of other documents
doctype html
title Arbonsi
meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1')
link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
style.
	body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
	body, html {
	height: 100%;
	line-height: 1.8;
	}
	/* Full height image header */
	.bgimg-1 {
	background-position: center;
	background-size: cover;
	background-image: url("https://www.tokkoro.com/picsup/1071462-forest.jpg");
	min-height: 100%;
	}
	.w3-bar .w3-button {
	padding: 16px;
	}
	.w3-jumbo {
	font-size: 100px!important;
	}
	.w3-large {
	font-size: 20px!important;
	}
// Navbar (sit on top)
.w3-top
	#myNavbar.w3-bar.w3-white.w3-card
		a.w3-bar-item.w3-button.w3-wide(href='#home') ARBONSI
		// Right-sided navbar links
		.w3-right
			a.w3-bar-item.w3-button(href='#about') ABOUT
			a.w3-bar-item.w3-button(href='#team')
				i.fa.fa-user
				|  TEAM
			a.w3-bar-item.w3-button(href='#login')
				i.fa.fa-user-circle
				|  LOGIN
			a.w3-bar-item.w3-button(href='#signup')
				i.fa.fa-user-plus
				|  SIGN UP