//- Navbar section, to be included at the top of other documents
doctype html
title Arbonsi
meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1')
link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')

style.
	body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
	body, html {
	height: 100%;
	line-height: 1.8;
	}
	/* Full height image header */
	.bgimg-1 {
	background-position: center;
	background-size: cover;
	background-image: url("https://www.tokkoro.com/picsup/1071462-forest.jpg");
	min-height: 100%;
	}
	.w3-bar .w3-button {
	padding: 16px;
	}
	.w3-jumbo {
	font-size: 100px!important;
	}
	.w3-large {
	font-size: 20px!important;
	}
// Navbar (sit on top)
.w3-top
	#myNavbar.w3-bar.w3-white.w3-card
		if (state != 0)
			a.w3-bar-item.w3-button.w3-wide(href='/main') ARBONSI
		else
			a.w3-bar-item.w3-button.w3-wide(href='/') ARBONSI

		// Right-sided navbar links
		.w3-right
			a.w3-bar-item.w3-button(href='/') About Us
			
			if (state == 0)
				a.w3-bar-item.w3-button(href='/signin')
					i.fa.fa-user-circle
					|  Sign In
			else
				a.w3-bar-item.w3-button(href='/profile')
					i.fa.fa-user
					|  Profile

				a.w3-bar-item.w3-button(href='/signout')
					i.fa.fa-sign-out
					|  Sign Out