<html>

<head>
	<title>Main Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

	<body onload="populatePage(3)">

	<!--
			Notes:
			Needs to have a button to roll new jobs (refresh)
			Search bar
			Flex containers?
		-->

		<!--Nav and Search-->
		<div class="w3-top">
		  <div class="w3-bar w3-white w3-card" id="myNavbar">
		    <a href="Official_main.html" class="w3-bar-item w3-button w3-wide">ARBONSI</a>
		    <!-- Right-sided navbar links -->
				<div class="w3-right">
		      <a href="#about" class="w3-bar-item w3-button">ABOUT</a>
		      <a href="#team" class="w3-bar-item w3-button"><i class="fa fa-user"></i> TEAM</a>
		      <a href="#login" class="w3-bar-item w3-button"><i class="fa fa-user-circle"></i> LOGIN</a>
		      <a href="#signup" class="w3-bar-item w3-button"><i class="fa fa-user-plus"></i> SIGN UP</a>
		    </div>
		  </div>
		</div>

		<br></br>
		<br></br>
	<!--Test button to generate new jobs-->
		<a>Dennis, wtf is this..</a>
		<button class="btn btn-dark" onclick="generateJob(-1)">DEBUG: New Job</button>

	<!--Main container
		Houses job traits-->


		<div class="container">
			<div class="row">
				<!--Left side of the page?-->
				<div class="col" id="col0">
					<div class="container">
						<div class="card bg-light text-dark">
							<div class="card-body">
								This card will contain the check-boxes pertainint to job listings.
							</div>
						</div>
					</div>

				</div>
				<!--Center of the page-->
				<div class="col-7" id="col1">
					<div class="w3-right">
						<form class="form-inline md-form mr-auto mb-4">
							<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
							<button class="btn btn-outline-success btn-rounded btn-sm my-0" type="submit">Search</button>
						</form>
					</div>
					<div>
						<a href="Official_main.html" class="btn btn-outline-success btn-rounded btn-sm my-0">Reload</a>
					</div>


					<!--Flex box to hold the job listings-->
					<div class="d-flex flex-column bd-highlight mb-3" id="jobsBox"></div>
				</div>

				<!--Displays currently focused job-->
					<!--You mean 'featured'?-->
				<div class="col" style="display: none" id="col3">
					<div id="focusBox">

					</div>
				</div>


			<!--Right side of the page?-->
			<div class="col" id="col2">
				<div class="container">
					<div class="card bg-light text-dark">
						<div class="card-body">
							<!--Tentative job container layout. May or may not represent the code inserted by JS-->

							<a class="btn btn-primary" href="#" role="button">Select</a>

							<div class="p-2 bd-highlight">
								<button type="button" class="btn btn-link btn-block" data-toggle="tooltip"
									data-placement="right" title="Learn more" onclick="console.log('TEST')">
									<div class="card bg-light text-dark">
										<div class="card-body">
											<table class="table table-bordered">
												<tr>
													<th colspan="2">Title</th>
												</tr>
												<tr>
													<td id="jobDif">Difficulty: 5</td>
													<td id="jobPay">Payment: $20</td>
												</tr>
												<tr>
													<td colspan="2" id="jobDead">Deadline: 4/16/2077</td>
												</tr>
												<tr>
													<td colspan="2" style="display: table-cell" id="jobBrief">Brief description
													</td>
												</tr>
											</table>
										</div>
									</div>
								</button>
							</div>

							<div class="p-2 bd-highlight">
								<a class="btn btn-primary" href="#" role="button">Select</a>
								<button type="button" class="btn btn-link btn-block" data-toggle="tooltip"
									data-placement="right" title="Learn more" onclick="console.log('TEST')">
									<div class="card bg-light text-dark">
										<div class="card-body">
											<table class="table table-bordered">
												<tr>
													<th colspan="2">Title</th>
												</tr>
												<tr>
													<td id="jobDif">Difficulty: 3</td>
													<td id="jobPay">Payment: $15</td>
												</tr>
												<tr>
													<td colspan="2" id="jobDead">Deadline: 4/20/6969</td>
												</tr>
												<tr>
													<td colspan="2" style="display: table-cell" id="jobBrief">Brief description
													</td>
												</tr>
											</table>
										</div>
									</div>
								</button>
							</div>

						</div>
					</div>

				</div>
			</div>





		</div>









	</div>





	<script src="../resources/js/scripts.js"></script>
</body>


</html>
