<html>

<head>
	<title>Main Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<style>
		.SearchBar {
			position: absolute;
			top: 0px;
			left: 35px;
			height: 30px;
			width: 50px;
		}

		.SearchBar input {
			height: 30px;
			width: 500px;
		}

		.startDate input {
			height: 30px;
			width: 70px;
		}

		.MaxMonth input {
			height: 30px;
			width: 70px;
		}
	</style>

</head>

<body onload="populatePage(5)">

	<!--
			Notes:
			Needs to have a button to roll new jobs (refresh)
			Search bar
			Flex containers?
		-->

	<!--Navbar-->
	<div class="w3-top">
		<div class="w3-bar w3-white w3-card" id="myNavbar">
			<a href="Official_main.html" class="w3-bar-item w3-button w3-wide">ARBONSI</a>
			<!-- Right-sided navbar links -->
			<div class="w3-right">
				<a href="start_page.html" class="w3-bar-item w3-button">ABOUT</a>
				<a href="start_page.html" class="w3-bar-item w3-button"><i class="fa fa-user"></i> TEAM</a>
				<a href="signin.html" class="w3-bar-item w3-button"><i class="fa fa-user-circle"></i>Welcome</a>
			</div>
		</div>
	</div>

	<br></br>
	<br></br>

	<div class="row">
		<!--Left side of the page-->
		<div class="col-2" id="col0">
			<div class="container">
				<div class="card bg-light text-dark">
					<div class="card-body">
						<h5>Job Traits</h5>
						<ul class="list-group">
							<li class="list-group-item">
								<p><strong>Difficulty</strong></p>
								<form>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
										<label class="form-check-label" for="defaultCheck1">
											1
										</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
										<label class="form-check-label" for="defaultCheck2">
											2
										</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
										<label class="form-check-label" for="defaultCheck2">
											3
										</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
										<label class="form-check-label" for="defaultCheck2">
											4
										</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
										<label class="form-check-label" for="defaultCheck2">
											5
										</label>
									</div>
								</form>
							</li>
							<li class="list-group-item">
								<p><strong>Due Date</strong></p>
								<div class="startDate">
									<div class="row">
										<div class='col-sm-6'>
											<div class="form-group">
												<div class='input-group date' id='datetimepicker1'>
													<input type='text' class="form-control" />
													<span class="input-group-addon">
														<span class="glyphicon glyphicon-calendar"></span>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!--Right column, holds the job listings-->
		<div class="col" id="col1">

			<!--Flex box to hold the job listings-->
			<div class="d-flex flex-column bd-highlight mb-3" id="jobsBox">
				<br></br>
				<div class="SearchBar">
					<form>
						<input class="form-control mr-sm-2" type="text" placeholder="Company Search" required>
					</form>
				</div>


				<!-- Job listing template, DO NOT UNCOMMENT -->
				<div class="p-2 bd-highlight"> <button type="button" class="btn btn-link btn-block"
						data-toggle="tooltip" data-placement="right" title="Learn more" onclick="focusJob('test')">
						<div class="card bg-light text-dark">
							<div class="card-body">
								<table>
									<tr>
										<th>
											something
										</th>
										<td style="padding-left:20px; padding-right:20px">|</td>
										<td>
											something
										</td>
										<td style="padding-left:20px; padding-right:20px">|</td>
										<td>Difficulty:
											something
										</td>
										<td style="padding-left:20px; padding-right:20px">|</td>
										<td> something </td>
									</tr>
								</table>
							</div>
						</div>
					</button></div>


			</div>
		</div>

		<!--Displays currently focused job-->
		<div class="col" style="display: none" id="col2">
			<div id="focusBox">

			</div>
		</div>
	</div>

	<script src="../resources/js/scripts.js"></script>
</body>

</html>
