<!DOCTYPE html>
<html>
<title>Arbonsi</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("https://www.tokkoro.com/picsup/1071462-forest.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="#home" class="w3-bar-item w3-button w3-wide">ARBONSI</a>
    <!-- Right-sided navbar links -->
    <div class="w3-right">
      <a href="#about" class="w3-bar-item w3-button">ABOUT</a>
      <a href="#team" class="w3-bar-item w3-button"><i class="fa fa-user"></i> TEAM</a>
      <a href="#login" class="w3-bar-item w3-button"><i class="fa fa-user-circle"></i> LOGIN</a>
      <a href="#signup" class="w3-bar-item w3-button"><i class="fa fa-user-plus"></i> SIGN UP</a>
    </div>
  </div>
</div>


<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-left w3-text-white" style="padding:48px">
    <span class="w3-jumbo w3-hide-small">Freelancing made easy</span><br>
    <span class="w3-large">Find coding jobs perfect for you.</span>
    <p><a href="#about" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Learn more</a></p>
  </div> 
</header>

<!-- About Section -->
<div class="w3-container" style="padding:128px 16px" id="about">
  <h3 class="w3-center">ABOUT THE PROJECT</h3>
  <div class="w3-row-padding w3-center" style="margin-top:64px">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
  </div>
</div>

<!-- Team Section -->
<div class="w3-container w3-light-grey" style="padding:128px 16px" id="team">
  <h3 class="w3-center">THE TEAM</h3>
  <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
    <div class="w3-col l4  w3-margin-bottom">
      <div class="w3-card">
        <div class="w3-container">
          <h3>Raya Alotaibi</h3>
          <p class="w3-opacity">Computer Science Major, Sophmore</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
        </div>
      </div>
    </div>
    <div class="w3-col l4  w3-margin-bottom">
      <div class="w3-card">
        <div class="w3-container">
          <h3>William Dellinger</h3>
          <p class="w3-opacity">Computer Science Major, Sophmore</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
        </div>
      </div>
    </div>
    <div class="w3-col l4  w3-margin-bottom">
      <div class="w3-card">
        <div class="w3-container">
          <h3>Alden Maben</h3>
          <p class="w3-opacity">Computer Science Major, Year</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
        </div>
      </div>
    </div>
    <div class="w3-col l4  w-margin-bottom">
        <div class="w3-card">
          <div class="w3-container">
            <h3>Toby Savage</h3>
            <p class="w3-opacity">Computer Science Major, Sophmore</p>
            <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
            <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
          </div>
        </div>
      </div>
    <div class="w3-col l4  w-margin-bottom">
      <div class="w3-card">
        <div class="w3-container">
          <h3>Dennis Windham</h3>
          <p class="w3-opacity">Computer Science / Mathematics Major, Sophomore</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
        </div>
      </div>
    </div>
    <div class="w3-col l4  w3-margin-bottom">
        <div class="w3-card">
          <div class="w3-container">
            <h3>Shirley Wu</h3>
            <p class="w3-opacity">Computer Science Major, Year</p>
            <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
            <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
          </div>
        </div>
      </div>
  </div>
</div>
</body>
</html>
