//- signupstudent.pug


div.container
	p Signupstudent
  html
    head
      title Sign-up page
      meta(charset='utf-8')
      meta(name='viewport' content='width=device-width, initial-scale=1')
      link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
      script(type='text/javascript' src='jquery-3.4.1.js')
      scrpt(src='../js/scripts.js')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
      style
        .btn {
          background-color: #3a7b99; /* navy */
  			  border: none;
  			  color: white;
  			  -webkit-transition-duration: 0.4s; /* Safari */
  		  	transition-duration: 0.4s;
        }
        .btn:hover {
          background-color: #3a9958; /* leaves color */
		  		color: white;
        }
      body
        .container
          .row
            .col-md-5 mx-auto
              #first
                .myform.form
                  .text-center
                    img(src='../resources/img/logo.png' alt='emblem'height='130' width='130')
                    p
                    h5(style='font-family:Helvetica; text-align: left;')Create Your Student account
                  form(action='#' name='registration')
                    .form-group
                      label(for='exampleInputEmail1')First Name
                      input#firstname.form-control(type='text',  name='firstname', aria-describedby='emailHelp', required='')
                    .form-group
                      label(for='exampleInputEmail1')Last Name
                      input#lastname.form-control(type='text', name='lastname', aria-describedby='emailHelp', required='')
                    .form-group
                      label(for='exampleInputEmail1')Institution
                      input#institution.form-control(type='institution', name'institution', aria-describedby='emailHelp', required='')
                    .form-group
                      label(for='exampleInputEmail1')Email Address
                      input#email.form-control(type='email', name='email', aria-describedby='emailHelp')
                    .form-group
                      label(for='emailInputEmail1')Password
                      input#password.form-control(type='password', name='password', aria-describedby='emailHelp', required='')
                    .form-group
                      label(for='emailInputEmail1')Confirm Password
                      input#confirm_password.form-control(type='password', name'password', aria-describedby='emailHelp', required='')
                    script.
                      var password = document.getElementById("password"), confirm_password = document.getElementById("confimr_password");
                      function validatePassword() {
                        if(password.value != confirm_password.value) {
                          confirm_password.setCustomValidity("Passwords Don't Match");
                        } else {
                          confirm_password.setCustomValidity('');
                        }
                      }
                      password.onchange = validatePassword;
                      confirm_password.onkeyup = validatePassword;
                    .col-md-12.text-center.mb-3
                      button.btn.btn-block.mybtn.btn-primary.tx-tfm(type='submit') Sign up
                      .col-md-12
                        .form-group(style='float:left')
                          p.text-center
                            a#signin(href='signin.html', style='color:#3a7b99;', ="#"='') Already have an account?
                      .col-md-12
                        .form-group(style='float:left')
                          p.text-center(style='padding-left: 25px;')
                            a#signupstudent(href='signupstudent.html', style='color:#3a7b99;', ="#"='')  Not an Employer?
            footer.page-footer.border-top
              br
                  
