//- start_page.pug
doctype html
title Arbonsi

// Navbar
include ../partials/navbar.pug 

// Header with full-height image
header#home.bgimg-1.w3-display-container.w3-grayscale-min
	.w3-display-left.w3-text-white(style='padding:48px')
		span.w3-jumbo.w3-hide-small Freelancing made easy
		br
		span.w3-large Find coding jobs perfect for you.
		p
			a.w3-button.w3-white.w3-padding-large.w3-large.w3-margin-top.w3-opacity.w3-hover-opacity-off(href='#about') Learn more
// About Section
#about.w3-container(style='padding:128px 16px')
	h3.w3-center ABOUT THE PROJECT
	.w3-row-padding.w3-center(style='margin-top:64px')
		p
			| Our website, Arbonsi, will be a freelancing website targeted towards college students as
			| a tool to find small jobs within big corporations that could lead to full-time employment
			| opportunities and internships. Our goal was to create an &lsquo;easy-to-use&rsquo; platform that networks
			| computer science students with recruiters. We believe that our product has the potential to bring positive change to the Software
			| Development industry by making it an accessible environment to both experienced
			| programmers and newcomers alike.
// Team Section
#team.w3-container.w3-light-grey(style='padding:128px 16px')
	h3.w3-center THE TEAM
	.w3-row-padding.w3-grayscale(style='margin-top:64px')
		.w3-col.l4.w3-margin-bottom
			.w3-card
				.w3-container
					h3 Raya Alotaibi
					p.w3-opacity Computer Science Major, Sophmore
					p
						| Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
					p
						button.w3-button.w3-light-grey.w3-block
							i.fa.fa-envelope
							|  Contact
		.w3-col.l4.w3-margin-bottom
			.w3-card
				.w3-container
					h3 William Dellinger
					p.w3-opacity Computer Science Major, Sophmore
					p
						| Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
					p
						button.w3-button.w3-light-grey.w3-block
							i.fa.fa-envelope
							|  Contact
		.w3-col.l4.w3-margin-bottom
			.w3-card
				.w3-container
					h3 Alden Maben
					p.w3-opacity Computer Science Major, Year
					p
						| Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
					p
						button.w3-button.w3-light-grey.w3-block
							i.fa.fa-envelope
							|  Contact
		.w3-col.l4.w-margin-bottom
			.w3-card
				.w3-container
					h3 Toby Savage
					p.w3-opacity Computer Science Major, Sophmore
					p
						| Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
					p
						button.w3-button.w3-light-grey.w3-block
							i.fa.fa-envelope
							|  Contact
		.w3-col.l4.w-margin-bottom
			.w3-card
				.w3-container
					h3 Dennis Windham
					p.w3-opacity Computer Science Major, Year
					p
						| Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
					p
						button.w3-button.w3-light-grey.w3-block
							i.fa.fa-envelope
							|  Contact
		.w3-col.l4.w3-margin-bottom
			.w3-card
				.w3-container
					h3 Shirley Wu
					p.w3-opacity Computer Science Major, Year
					p
						| Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
					p
						button.w3-button.w3-light-grey.w3-block
							i.fa.fa-envelope
							|  Contact
